<h1>
    {{(heroe.id) ? 'Editar' : 'Nuevo'}} 
    Héroe 
    <small>{{heroe.superhero}}</small></h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
           
            <mat-form-field fxFlex="100">
                <mat-label>Super Héroe</mat-label>
                <input matInput [(ngModel)]="heroe.superhero" type="text" required>
            </mat-form-field>
           
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput [(ngModel)]="heroe.alter_ego" type="text" required>
            </mat-form-field>
        
        </div>
        
        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput [(ngModel)]="heroe.first_appearance" type="text" required>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput [(ngModel)]="heroe.characters" type="text" required>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher" required>
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{publisher.desc}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Foto URL</mat-label>
            <input matInput [(ngModel)]="heroe.alt_img" type="url" required>
        </mat-form-field>
        <br>
        
        <div fxLayout>
            <button mat-raised-button (click)="guardar()" color="warn">
                <mat-icon>edit</mat-icon>
                {{(heroe.id) ? 'Actualizar' : 'Crear'}} 
            </button>
            <span class="spacer"></span>

            <button mat-raised-button *ngIf="heroe.id" (click)="borrar()" color="primary">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>
    </div>
    
    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>

</div>