<p>error-page works!</p>

<ul>
    <li>Auth</li>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/register">
            Ir a Registro
        </a>
    </li>
    <li>Heroes</li>
    <li>
        <a routerLink="/heroes/listado">
            Ir a Heroes/listado
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a Heroes/Agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/1">
            Ir a Heroes/editar/id
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a Heroes/Buscar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/1">
            Ir a id/Heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroes/**">
            Ir a Heroes/**
        </a>
    </li>
</ul>

